@font-face {
    font-family: "iconfont"; /* Project id 3336648 */
    src: url('//at.alicdn.com/t/font_3336648_zc9svdlbwz.woff2?t=1650537850371') format('woff2'),
    url('//at.alicdn.com/t/font_3336648_zc9svdlbwz.woff?t=1650537850371') format('woff'),
    url('//at.alicdn.com/t/font_3336648_zc9svdlbwz.ttf?t=1650537850371') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
    content: "\e667";
}

.icon-star:before {
    content: "\e7df";
}

.icon-like:before {
    content: "\e707";
}

.icon-youxiang1:before {
    content: "\e664";
}

.icon-gerenzhongxin:before {
    content: "\e61d";
}
